<h3>Teas.</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th><th> Price(/100g)</th><th>Stock</th><th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @tea_list.each do |tea| %>
      <tr>
        <td><a href="/teas/<%= tea.id %>"><%= tea.name %></a></td>
        <td><%= tea.price %></td>
        <td>
          <% if tea.stock_amount - @teas[tea.id.to_s].to_i == 0 %>
            <span class="text-danger">Sold Out</span>
          <% else %>
            <%= tea.stock_amount - @teas[tea.id.to_s].to_i %>
          <% end %>
        </td>
        <td>
          <% if tea.stock_amount > 0 and @current_user %>
            <button
              class="btn btn-info add-cart"
              data-tea-id="<%= tea.id %>"
              data-tea-name="<%= tea.name %>"
              data-tea-stock="<%= tea.stock_amount - @teas[tea.id.to_s].to_i %>"
            >
              Add to Cart
            </button>
          <% else %>
            <button
              class="btn btn-info add-cart"
              disabled
            >
              Add to Cart
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="cartModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/cart" method="POST">
        <input type="hidden" value="" name="teaId" id="teaId">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="display: flex; width: 100%;">
            <span style="width: 10rem;">How Many?</span>
            <select class="form-control" id="teaAmount" name="teaAmount">
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
$(window).on('load', function() {
  $('.add-cart').on('click', function (e) {
    var target = $(e.currentTarget);
    var teaName = target.data('tea-name');
    var teaId = target.data('tea-id');
    var teaStock = parseInt(target.data('tea-stock'));
    $('#teaAmount').children().remove();
    for(var i = 1; i <= teaStock / 100 ; i ++) {
      $('#teaAmount').append(
        $('<option>', {
          value: i * 100,
          text: i * 100,
        })
      );
    }
    $('#cartModal').find('.modal-title').text(`Add Cart (${teaName})`);
    $('#cartModal').find('#teaId').val(teaId);
    $('#cartModal').modal('show');
  });
});
</script>
